{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Upload Document - COMSOC Repository System{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2><i class="bi bi-upload"></i> Upload Document</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                {% crispy form %}
                <div class="mt-3">
                    <a href="{% url 'documents:document_list' %}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Cancel
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light">
            <div class="card-body">
                <h5 class="card-title">Upload Guidelines</h5>
                <ul class="small">
                    <li>Maximum file size: 10MB</li>
                    <li>Allowed file types: PDF, Word, Excel, Text, Images</li>
                    <li>Choose appropriate classification level</li>
                    <li>Add relevant tags for better searchability</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
