{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - COMSOC Repository System{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2><i class="bi bi-folder"></i> {{ title }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                {% crispy form %}
                <div class="mt-3">
                    <a href="{% url 'documents:document_list' %}" class="btn btn-secondary">
                        <i class="bi bi-arrow-left"></i> Back to Documents
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
